@media only screen and (min-device-width : 300px) and (max-device-width : 800px) {
	#myinnercontainer{
		display: none;
	}
}
.oldp {
	margin: 0 auto;
}
@media only screen and (min-device-width : 900px){
	.phone{
		display: none;
	}
}

#myinnercontainer { position:absolute; top:25%; height:10em; margin-top:-5em ; left: 25%}