@media only screen and (min-device-width : 300px) and (max-device-width : 800px) {
	.comp{
		display: none;
	}
}
div {
	max-width: 100%;
	padding: 5%;
}
@media only screen and (min-device-width : 900px){
	.phone{
		display: none;
	}
}